In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.head(2)

  Q1 Q2 Q3 Q4 Q5 Q6 Q7 Q8 Q9 Q10  Score Interpretation
0  a  a  a  a  a  1  1  1  1   1     10              B
1  b  b  b  b  b  2  2  2  2   2      0              C

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Q1              217 non-null    object
 1   Q2              213 non-null    object
 2   Q3              212 non-null    object
 3   Q4              215 non-null    object
 4   Q5              211 non-null    object
 5   Q6              213 non-null    object
 6   Q7              215 non-null    object
 7   Q8              213 non-null    object
 8   Q9              215 non-null    object
 9   Q10             217 non-null    object
 10  Score           225 non-null    int64
 11  Interpretation  225 non-null    object
dtypes: int64(1), object(11)
memory usage: 21.2+ KB

In [5]:
df = data.copy()

In [6]:
for i in range(5,10):
    str = f'Q{i}'
    df[str] = pd.to_numeric(df[str], errors='coerce')

In [7]:
df.head()

  Q1 Q2 Q3 Q4  Q5   Q6   Q7   Q8   Q9 Q10  Score Interpretation
0  a  a  a  a NaN  1.0  1.0  1.0  1.0   1     10              B
1  b  b  b  b NaN  2.0  2.0  2.0  2.0   2      0              C
2  c  c  c  c NaN  3.0  3.0  3.0  3.0   3     20              A
3  a  b  c  a NaN  1.0  2.0  3.0  1.0   2      8              C
4  b  c  a  c NaN  3.0  2.0  3.0  1.0   2     11              B

In [8]:
df['Q1']=pd.get_dummies(df['Q1'])

ValueError: Columns must be same length as key